CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y
CONFIG_KERNEL_BUILD_DOMAIN="openwrt.org"
CONFIG_KERNEL_BUILD_USER="mercer"
CONFIG_PACKAGE_kmod-nft-fullcone=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-ipsec-vpnd=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_nano-full=y
CONFIG_PACKAGE_vim-full=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_zerotier=y
CONFIG_PACKAGE_zoneinfo-core=y
